.footer {
  display: flex;
  justify-content: center;
  padding: 0.5vw 0;
  background-color: #101011;
}
.btn {
  width: 100px;
  height: 50px;
  border: 2px solid black;
  border-radius: 5px 5px 5px 5px;
  color: white;
  cursor: pointer;
  background-color: #262626;
}
.slot {
  margin-bottom: 20px;
  padding-left: 10px;
  border-left: 3px solid #ffbd52;
}
.question,
.answer {
  height: 24px;
  width: 100%;
  margin: 10px 0;
  resize: none;
  background: #000000;
  color: white;
  font-size: 15px;
  outline: none;
  border: none;
}
.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 200px;
}
@media only screen and (max-width: 1024px) {
  .form {
    width: 90%;
  }
}
