.footer {
  display: flex;
  justify-content: center;
  padding: 0.5vh 0;
  background-color: #101011;
}
.addBtn,
.undoBtn,
.saveBtn,
.createBtn {
  width: 150px;
  height: 50px;
  margin: 0 1vw;
  color: white;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  border-radius: 10px;
}
.addBtn {
  border: 2px solid #52acfe;
}
.addBtn:hover {
  color: #52acfe;
}
.undoBtn {
  border-color: #ff4b4b;
}
.undoBtn:hover {
  color: #ff4b4b;
}
.saveBtn,
.createBtn {
  border: 2px solid #3efc3e;
}
.saveBtn:hover,
.createBtn:hover {
  color: #3efc3e;
}
.slot {
  margin-bottom: 20px;
  padding-left: 10px;
  border-left: 3px solid #ffbd52;
}
.question,
.answer {
  height: 24px;
  width: 100%;
  margin: 10px 0;
  resize: none;
  background: #000000;
  color: white;
  font-size: 15px;
  outline: none;
  border: none;
}
.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 200px;
}
.modalText {
  font-size: 30px;
  text-align: center;
  color: #ffbd52;
  background-color: #101011;
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: calc(50px + 0.5vh);
  padding: 25px;
}

@media only screen and (max-width: 1024px) {
  .form {
    width: 90%;
  }
}
@media only screen and (max-width: 600px) {
  .addBtn,
  .undoBtn,
  .saveBtn,
  .createBtn {
    width: 70px;
    height: 35px;
    margin: 0 auto;
    border-radius: 5px;
  }
}
