@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passero+One&display=swap");

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
}
html {
  height: 100%;
  width: 100%;
  font-size: 20px;
}
body {
  height: 100%;
  background-color: #101011;
  background-image: linear-gradient(45deg, #101011 46%, #171719 100%);
  background-attachment: fixed;
}
main {
  text-align: center;
}
footer {
  bottom: 0;
  width: 100%;
  position: fixed;
}
a,
a:visited {
  text-decoration: none;
  color: white;
  margin: 0 50px 0 0;
}
a:hover {
  color: #ffbd52;
}
.container404 {
  width: 100%;
}
.question404,
.answer404,
.info404 {
  text-align: center;
  padding: 0 2vw;
  font-size: 5vh;
}
.question404 {
  margin: 10vh 0;
}
.answer404 {
  color: #4bad71;
}
.info404 {
  margin-top: 10vh;
  font-size: 20px;
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 15px;
  }
  a,
  a:visited {
    margin: 0 5vw 0 0;
  }
  .question404,
  .answer404 {
    font-size: 5vw;
  }
  .info404 {
    margin-top: 10vh;
    font-size: 15px;
  }
}
@media only screen and (max-width: 300px) {
  html {
    font-size: 12px;
  }
}
