.main {
  display: flex;
  flex-wrap: wrap;
}
.host {
  height: 100%;
  width: 100%;
}
.top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 50px;
  width: 100%;
  padding-bottom: 50px;
}
.question,
.answers {
  margin: auto;
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}
.question {
  font-size: 18px;
  width: 80%;
}
.counter {
  text-align: center;
  font-size: 40px;
  width: 150px;
  margin-bottom: 10px;
}
.answers {
  font-size: 15px;
  position: absolute;
  bottom: 0;
  padding-bottom: 5px;
  width: 100%;
  color: #3efc3e4d;
}
.bottom {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  flex-wrap: wrap;
  margin-top: 150px;
  margin-bottom: 75px;
}
.footer {
  display: flex;
  justify-content: center;
}
.btn {
  width: 150px;
  height: 50px;
  margin: 0 1vw;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  border-radius: 10px;
  border: 2px solid #ffbd52;
}
.btn:hover {
  color: #ffbd52;
}
.participant {
  height: 100%;
  width: 60%;
  padding-top: 100px;
  margin: auto;
}
.form {
  text-align: center;
}
.textarea,
.lockedText,
.error {
  height: 20px;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 5px;
  resize: none;
  background: transparent;
  color: white;
  border: none;
  font-size: 15px;
}
.textarea {
  border-bottom: 2px solid #52acfe;
}
.textarea:focus {
  outline: none;
}
.error {
  color: #ff4b4b;
  border-bottom: 2px solid #ff4b4b;
}
.participantBtnError {
  color: #ff4b4b;
  border: 2px solid #ff4b4b;
}
.lockedText {
  border: 2px solid #ffbd52;
  pointer-events: none;
  border-radius: 5px;
}
.participantBtn,
.participantBtnLocked,
.participantBtnError {
  width: 150px;
  height: 50px;
  margin: 0 1vw;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  border-radius: 10px;
}
.participantBtn {
  border: 2px solid #52acfe;
}
.participantBtn:hover {
  color: #52acfe;
}
.participantBtnLocked {
  color: #ffbd52;
  border: 2px solid #ffbd52;
}
.p {
  height: 20px;
  width: 100%;
  font-size: 30px;
  margin-top: 50px;
  text-align: center;
}
.participantSpan {
  color: #ffbd52;
}
.participantName {
  float: left;
}
.answerContainer {
  display: flex;
  flex-wrap: wrap;
}
.rowOne {
  justify-content: space-between;
}
.rowTwo {
  justify-content: space-between;
}
.rowThree {
  text-align: left;
}
.rowTwo,
.rowThree {
  padding-top: 20px;
}
.rowOne,
.rowTwo,
.rowThree {
  display: flex;
}
.participantSubPoint,
.participantSubHalfPoint,
.participantAddHalfPoint,
.participantAddPoint,
.participantUnlock {
  cursor: pointer;
  width: 50px;
  height: 20px;
  border: 2px solid #ffffff;
  border-radius: 25px 25px 25px 25px;
  background-color: #101011;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.participantSubPoint,
.participantSubHalfPoint {
  border-color: #ff4b4b;
}

.participantSubPoint:hover,
.participantSubHalfPoint:hover {
  background-color: #ff4b4b4d;
}
.participantAddHalfPoint,
.participantAddPoint {
  border-color: #3efc3e;
}
.participantAddPoint:hover,
.participantAddHalfPoint:hover {
  background-color: #3efc3e4d;
}
.participantUnlock:hover {
  background-color: #ffffff4d;
}
.participantAnswer {
  width: 100%;
  height: 90px;
  padding-top: 10px;
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.participantAnswer::-webkit-scrollbar {
  display: none;
}
.participantPoints {
  float: right;
}
.participantContainer,
.participantContainerBlue {
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 10px;
  width: 350px;
  border-radius: 25px;
  background-color: #101011;
}
.participantContainer {
  border: 2px solid #52acfe;
}
.participantContainerBlue {
  border: 2px solid #ffbd52;
}
.barContainer {
  background-color: #171719;
  z-index: 2;
  display: flex;
  justify-content: center;
  justify-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.bar {
  width: 95vw;
  height: 80vh;
  padding: 1%;
}
.barHome {
  font-size: 40px;
  padding-top: 5%;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .top {
    margin-top: 75px;
    padding-bottom: 150px;
  }
  .bottom {
    justify-content: unset;
    flex-wrap: nowrap;
    margin: 250px 0 0 0;
  }
  .question {
    font-size: 15px;
    width: 90%;
  }
  .answers {
    width: 90%;
    margin: 5%;
    font-size: 13px;
  }
  .participantContainer,
  .participantContainerBlue {
    min-width: 40%;
    padding: 2%;
    margin: 3%;
  }
  .participant {
    width: 80%;
  }
  .barHome {
    padding-top: 10%;
  }
}
@media only screen and (max-width: 600px) {
  .counter {
    font-size: 30px;
  }
  .participantContainer,
  .participantContainerBlue {
    min-width: 84%;
    padding: 3%;
    margin: 5%;
  }
}
@media only screen and (max-width: 300px) {
  .top {
    padding-bottom: 225px;
  }
  .counter {
    font-size: 30px;
  }
  .participantContainer,
  .participantContainerBlue {
    min-width: 84%;
    padding: 3%;
    margin: 5%;
  }
}
