.footer {
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
  background-color: #101011;
}
.btn {
  font-family: Montserrat;
  width: 100px;
  height: 50px;
  border: 2px solid black;
  border-radius: 5px 5px 5px 5px;
  color: white;
  cursor: pointer;
  background-color: #262626;
}
.slot {
  display: flex;
}
.question {
  height: 20px;
  width: 75%;
  margin: 0 5% 15px 15px;
}
.answer {
  height: 20px;
  width: 20%;
  margin: 0 0 15px 0;
}
.form {
  height: 100%;
  width: 80%;
  margin: auto;
  padding: 100px 0 100px 0;
}

.question,
.answer {
  resize: none;
  background: #00000020;
  color: white;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.507);
  font-size: 15px;
}
