.footer {
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
  background-color: #101011;
}
.btn {
  width: 100px;
  height: 50px;
  border: 2px solid black;
  border-radius: 5px 5px 5px 5px;
  color: white;
  cursor: pointer;
  background-color: #262626;
}
.slot {
  margin: 0 0 20px 0;
  padding-left: 10px;
  border-left: 3px solid #ffbd52;
}
.span {
  margin-left: 57%;
}
.question,
.answer {
  height: 24px;
  resize: none;
  background: #000000;
  color: white;
  font-size: 15px;
  outline: none;
  border: none;
}
.question {
  width: 100%;
  margin: 10px 0 10px 0;
}
.answer {
  width: 35%;
  float: right;
}
.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
  margin: auto;
  padding: 100px 0 200px 0;
}
