.table {
  width: 60%;
  padding-top: 150px;
  margin-right: 20%;
  margin-left: 20%;
  text-align: left;
  table-layout: fixed;
  border-spacing: 0 2px;
}
.tr {
  height: 50px;
  padding-bottom: 5%;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 1em;
  text-transform: uppercase;
}
.number,
.id,
.amount,
.user {
  padding: 10px;
}
.number {
  width: 50px;
}
.id {
  width: 350px;
}
.amount,
.user {
  width: 100px;
}
.tbody {
  height: 40px;
  cursor: pointer;
}
